# Lists [] and Operations

List is a datastructure that stores elements/values in an order.
we can easily access the elements using their index values.
List are mutable, we can store different data types in it.

In [29]:
lst1 = ['apple', 'banana', 'grapes', 'strawberry', 'avacado']
print(lst1)
lst2 = [123, 34.23, True, 'apple']
print(lst2)

['apple', 'banana', 'grapes', 'strawberry', 'avacado']
[123, 34.23, True, 'apple']

In [30]:
# len() : to find the length of the list
print(len(lst1))
print(len(lst2))

# list constructor : we can conver or declare the anytype of data into a list
new_lst = list(("1", "2", "3"))
print(f"new_lst: {new_lst} and it is a type of {type(new_lst)}")


# accessing list elements
print(lst1[1]) #the indexing is starts from 0
print(lst1[-1]) # using negative indexing we can access the elements from the end of the list
# print(lst1[start_index:end_index]) in between the start_index and end_index we can access the elements
print(lst1[1:5])
print(lst1[:4])
print(lst1[-4:-1])
print(lst1[-4:])

5
4
new_lst: ['1', '2', '3'] and it is a type of <class 'list'>
banana
avacado
['banana', 'grapes', 'strawberry', 'avacado']
['apple', 'banana', 'grapes', 'strawberry']
['banana', 'grapes', 'strawberry']
['banana', 'grapes', 'strawberry', 'avacado']

### changing the elements in the list

In [32]:
names =["Sai", "Chandu", "Krishna", "Jagadeesh", "Swamy", "Narsi", "Sandy"]
print(names)
names[1] = "Chandra Sai" #by using index we can change the element or value in the index
print(names)

names[1:4] = ["Hari", "Ram", "Abhi"]  #if we give more eles than the range the new ele replaces the oldones in that place
print(names)


# insert(index, value_to_be_insert)
names.insert(len(names), "Subbhu")
print(names)
names.insert(2, "Sahith")
print(names)

# lst.append(value):  it appends the values at the end of the list
names.append(["Gopi", "Balu"])
print(names)

# + or .extend() : to concatinate two lists 
lst3 = lst1+lst2
print(lst3)

lst2.extend(lst1)
print(lst2)

# .remove() : to remove the first occurance of an item in the list
lst2.remove("avacado")
print(lst2)

# .pop(index) : to remove an item from a specified index
print("\n",names)
names.pop(2)
print(names)

# to remove an item from an index as like pop() we can also use "del lst[index]"
# and also we can "del lst" to del the entire list
# del lst2
#  to clear the contents in the list we use lst.clear()
print("\n", lst3)
lst3.clear()
print(lst3)

['Sai', 'Chandu', 'Krishna', 'Jagadeesh', 'Swamy', 'Narsi', 'Sandy']
['Sai', 'Chandra Sai', 'Krishna', 'Jagadeesh', 'Swamy', 'Narsi', 'Sandy']
['Sai', 'Hari', 'Ram', 'Abhi', 'Swamy', 'Narsi', 'Sandy']
['Sai', 'Hari', 'Ram', 'Abhi', 'Swamy', 'Narsi', 'Sandy', 'Subbhu']
['Sai', 'Hari', 'Sahith', 'Ram', 'Abhi', 'Swamy', 'Narsi', 'Sandy', 'Subbhu']
['Sai', 'Hari', 'Sahith', 'Ram', 'Abhi', 'Swamy', 'Narsi', 'Sandy', 'Subbhu', ['Gopi', 'Balu']]
['apple', 'banana', 'grapes', 'strawberry', 'avacado', 123, 34.23, True, 'apple', 'apple', 'banana', 'grapes', 'strawberry']
[123, 34.23, True, 'apple', 'apple', 'banana', 'grapes', 'strawberry', 'apple', 'banana', 'grapes', 'strawberry', 'avacado']
[123, 34.23, True, 'apple', 'apple', 'banana', 'grapes', 'strawberry', 'apple', 'banana', 'grapes', 'strawberry']

 ['Sai', 'Hari', 'Sahith', 'Ram', 'Abhi', 'Swamy', 'Narsi', 'Sandy', 'Subbhu', ['Gopi', 'Balu']]
['Sai', 'Hari', 'Ram', 'Abhi', 'Swamy', 'Narsi', 'Sandy', 'Subbhu', ['Gopi', 'Balu']]

 ['apple', 'banana', 'grapes', 'strawberry', 'avacado', 123, 34.23, True, 'apple', 'apple', 'banana', 'grapes', 'strawberry']
[]

### looping through the list

In [42]:
# using "in"
for item in lst1:
    print(item)

print()
# using len and range : len gives the length of the list and range makes iteration from starting to end 
for i in range(len(lst1)):
    print(i, lst1[i])
    
# using list comprehension
print()
new_lst1 = [print(x) for x in lst1]

apple
banana
grapes
strawberry
avacado

0 apple
1 banana
2 grapes
3 strawberry
4 avacado

apple
banana
grapes
strawberry
avacado

### List comprehension
list comprehension is the way to create a new list from the elements in the existing list

In [65]:
fruit_basket = ["Apple", "Banana", "Mango", "Orange", "Strawberry", "Pineapple", "Blueberry", "Watermelon", "Grapes", "Peach", "Kiwi", "Pomegranate", "Cherry", "Papaya", "Raspberry"]
word_len = [(len(fruit), fruit) for fruit in fruit_basket if len(fruit)>5]
print(len(word_len))
[print(item) for item in word_len]
not_apple = [item for item in fruit_basket if item != "Apple"]
print()
fruit_upper = [print(item.upper()) for item in fruit_basket]

not_apple

11
(6, 'Banana')
(6, 'Orange')
(10, 'Strawberry')
(9, 'Pineapple')
(9, 'Blueberry')
(10, 'Watermelon')
(6, 'Grapes')
(11, 'Pomegranate')
(6, 'Cherry')
(6, 'Papaya')
(9, 'Raspberry')

APPLE
BANANA
MANGO
ORANGE
STRAWBERRY
PINEAPPLE
BLUEBERRY
WATERMELON
GRAPES
PEACH
KIWI
POMEGRANATE
CHERRY
PAPAYA
RASPBERRY

['Banana',
 'Mango',
 'Orange',
 'Strawberry',
 'Pineapple',
 'Blueberry',
 'Watermelon',
 'Grapes',
 'Peach',
 'Kiwi',
 'Pomegranate',
 'Cherry',
 'Papaya',
 'Raspberry']

### sort lists

In [81]:
# Ascending order
nums1 = [10, 20, 30, 40, 50, 60]
names = ['chandu', 'arjun', 'krishna', 'Bheema']
nums1.sort()
print(nums1)
names.sort()
print(names)


# Descending order
nums1.sort(reverse=True)
print(nums1)
names.sort(reverse=True)
print(names)

names.sort(key = str.lower)
print(names)

[10, 20, 30, 40, 50, 60]
['Bheema', 'arjun', 'chandu', 'krishna']
[60, 50, 40, 30, 20, 10]
['krishna', 'chandu', 'arjun', 'Bheema']
['arjun', 'Bheema', 'chandu', 'krishna']

### copy list

In [89]:
listA = ["ABC", "def", 123, 45.67, True]
listB = listA
print(listB)

listC = listA.copy()
listC.append("Chocolate")
print(listC)

listD = list(listC[1:-2])
print(listD)

['ABC', 'def', 123, 45.67, True]
['ABC', 'def', 123, 45.67, True, 'Chocolate']
['def', 123, 45.67]

### Joining lists

In [98]:
lst_a = listA+listB
print(lst_a)
lst_b=[]
listD.extend(listC)
lst_b.extend(listD)
print(lst_b)

# count() : return the number of specified elements in the list
print(lst_b.count("ABC"))

['ABC', 'def', 123, 45.67, True, 'ABC', 'def', 123, 45.67, True]
['def', 123, 45.67, 'ABC', 'def', 123, 45.67, True, 'Chocolate', 'ABC', 'def', 123, 45.67, True, 'Chocolate', 'ABC', 'def', 123, 45.67, True, 'Chocolate']
3

# TUPLE ()

In [99]:
# Tuple is a datastructure in python
# it is ordered and unchangable (immutable)
# once we assigned a value or element in to a tuple we can not change or add or remove 
# elements can be accessed from the

In [152]:
tup = ("abc", "DEF", 123, 43.2, True)
print(tup)
print(len(tup))

# accessing tuple elements by index values
print(tup[0])
print(tup[-2])

# range of index as like list
print(tup[1:5])
print(tup[-5:-1])

('abc', 'DEF', 123, 43.2, True)
5
abc
43.2
('DEF', 123, 43.2, True)
('abc', 'DEF', 123, 43.2)

In [160]:
#  to update the values in tuple we cannot directly do that
# first convert the tuple in to list and update the list with the value
# then convert back the list to tuple
#  for any changeble operation we need to convert the tuple into list and then back to tuple

lst_tup = list(tup)
lst_tup.extend(["appple", "banana", "grapes", "orange"])

tup = tuple(lst_tup)
print(tup)

('abc', 'DEF', 123, 43.2, True, 'appple', 'banana', 'grapes', 'orange', 'orange')

In [163]:
#  tuple unpack : assigning tuple values to different varibles
tup1 = ("apple", "oranage", "banana")
fruit1, fruit2, fruit3 = tup1
print(fruit1, " ", fruit2, " ", fruit3)

val1, val2, *val3 =  tup
print(val1, "| ", val2, "| ", *val3)

apple   oranage   banana
abc |  DEF |  123 43.2 True appple banana grapes orange orange

In [164]:
# looping same as list
# using for in 
# using range and len

# Sets {}