Intro, Syntax, Comments, Basics, Variables, Data types, Operators 
Lists, Tuples, Sets, Dictionaries
If else, for loops, while loops 
Functions, lambda functions
Classes objects, Inheritance, Polymorphism, Iteraters, Scope, Modules
RegEX, String Formatting, Exceptional Handling, File Handling
Python-mongoDB, Python-Libraries

In [1]:
#comments:  using '#' for single line comment 

#syntax :  python has indentation 
print("Hello All, I am starting the new python course")

Hello All, I am starting the new python course

In [2]:
# Variable:  Variable is a container to store the values.
# by using variable we can easily address or access the values which is in it

x = 10      #integer
y = 3.25    #float 
z = "User"  #String
a = True    #Boolean
print(x, " ", y, " ", z, " ", a)
print(x, ":\t", type(x))
print(y, ":\t", type(y))
print(z, ":\t", type(z))
print(a, ":\t", type(a))

10   3.25   User   True
10 :	 <class 'int'>
3.25 :	 <class 'float'>
User :	 <class 'str'>
True :	 <class 'bool'>

# Data Types

In [3]:


# Text Type:	str
name = "Mrs. Queen"
print(f"{name} is {type(name)} \n")

# Numeric Types:	int, float
x = 10
y = 1.23
print(f"{x} is {type(x)} and {y} is {type(y)}\n")


# Sequence Types:	list, tuple
lst = ['apple', 'banana', 123, 24.1, True]
print(lst)
print("this is a ", type(lst), "\n")

tup = ('Cake', 'Ice-cream', 300, 12.3, False)
print(tup)
print("this is a ", type(tup), "\n")

# Mapping Type:	dict
dict1 = {'first_bame': 'John', 'last_name':'King', 'age':24}
print(dict1, "\n this is a ", type(dict1), "\n")

# Set Types:	set
st = {"cocacola", "Mazaa", "ThumpsUp"}
print(st, "\n this is a ", type(st), "\n")

# Boolean Type:
check = True
print(check, "is a type of ", type(check))

Mrs. Queen is <class 'str'>

10 is <class 'int'> and 1.23 is <class 'float'>

['apple', 'banana', 123, 24.1, True]
this is a  <class 'list'>

('Cake', 'Ice-cream', 300, 12.3, False)
this is a  <class 'tuple'>

{'first_bame': 'John', 'last_name': 'King', 'age': 24}
 this is a  <class 'dict'>

{'Mazaa', 'cocacola', 'ThumpsUp'}
 this is a  <class 'set'>

True is a type of  <class 'bool'>

In [4]:
# using specific datatype also said to be casting : converting to a specific type
a = str("Hello World")
b = int(20)
c = float(20.5)
d = complex(1j)
e = list(("apple", "banana", "cherry"))
f = tuple(("apple", "banana", "cherry"))
g = range(6)
h = dict(name="John", age=36)
i = set(("apple", "banana", "cherry"))
j = frozenset(("apple", "banana", "cherry"))
k = bool(5)

print( a, "\n", b, "\n", c, "\n", d, "\n", e, "\n", f, "\n", g, "\n", h, "\n", i, "\n", j, "\n", k)

Hello World
 20
 20.5
 1j
 ['apple', 'banana', 'cherry']
 ('apple', 'banana', 'cherry')
 range(0, 6)
 {'name': 'John', 'age': 36}
 {'banana', 'apple', 'cherry'}
 frozenset({'banana', 'apple', 'cherry'})
 True

# Strings and its operations

In [5]:
# A string is a sequence of characters "Hello world" it is a string
print("We need to use quotes to define a string either it is a 'single quote' or \"double quotes\" \n")

name = "code king"
print("\n", name)

str = """
when we have a multi line string 
we can define inside three quotes either double or single
"""
print("\n", str)

# Accessing chars from a string : we can access the chars from the string by using their index (zero - indexing)
print(name[1])

# traversing through a string usigs loop
for char in str:
    print(char,"- ", end="")

# string length : len()
print( "\n", len(str))

We need to use quotes to define a string either it is a 'single quote' or "double quotes"


 code king


when we have a multi line string
we can define inside three quotes either double or single

o

 - w - h - e - n -   - w - e -   - h - a - v - e -   - a -   - m - u - l - t - i -   - l - i - n - e -   - s - t - r - i - n - g -   -
 - w - e -   - c - a - n -   - d - e - f - i - n - e -   - i - n - s - i - d - e -   - t - h - r - e - e -   - q - u - o - t - e - s -   - e - i - t - h - e - r -   - d - o - u - b - l - e -   - o - r -   - s - i - n - g - l - e -
 -
 93

# String slicing

In [6]:
# Slicing means we can return a  range of characters form the entire string using the index values
value = "Hello World"
# variable_name[start_index : end_index+1]
print(value[3:9])

# if we didn't specify the start index then it takes the chars from the 0th index to the end_index
print(value[:8])
# if we didn't specify the end index then it takes from start_index to last_index
print(value[8:])

# negative indexing : if we give negative indexing for slicing it works reverse order 
print(value[-8:-2])

#stepping 
# variable_name[start_index : end_index+1 : step_index_value]
print(value[::-1]) 
print(value[0:8:2])

lo Wor
Hello Wo
rld
lo Wor
dlroW olleH
HloW

# Modify Strings

In [7]:
text1 = "loremepsum"

# .uppper() : used to convert all the characters to uppercase
uppr = text1.upper()
print(uppr)

# .lower() : used to convert all the characters to lowercase
lwr = text1.lower()
print(lwr)

# .strip() : used to remove any white spaces from beginning or ending of the text
text2 = "       Hi, all        "
strp = text2.strip()
print(strp)

# .replace() : used to replace the char 
rplc = strp.replace('i', "I")
print(rplc)

# .split() : used to split the string based on a specified char
splt = strp.split(',')
print(splt)

# String concatination
first_name = "Chris"
last_name = "Hemsworth"
full_name = first_name + " "+last_name
print(full_name)

# string format : using f"" --> we can directly access the varibale or operations
age = 40
print(f"'{full_name.upper()}' played 'Thor' character in marvel series and his age is around {age}")

LOREMEPSUM
loremepsum
Hi, all
HI, all
['Hi', ' all']
Chris Hemsworth
'CHRIS HEMSWORTH' played 'Thor' character in marvel series and his age is around 40

# Operators

In [32]:
# Arithmetic operators : +, -, *, /, %, **, //
a = 10
b = 2
print("ARITHMETIC OPERATORS:")
print(f"sum of \t\t{a}, {b} is \t{a+b}")
print(f"difference of \t{a}, {b} is \t{a-b}")
print(f"Product of \t{a}, {b} is \t{a*b}")
print(f"division of \t{a}, {b} is \t{a/b}")
print(f"modulus of \t{a}, {b} is \t{a%b}")
print(f"power of \t{a}, {b} is \t{a**b}")
print(f"floor div of \t{a}, {b} is \t{a//b}")

# Assignment operators :  =, +=, -=, *=, /=, **=, %= : they assign the value to the left side variable
print("\nASSIGNMENT OPERATORS:")
a = 20
print(f"value of a is:  {a}")
a += 8
print(f"value of a is:  {a}")
a -= 3
print(f"value of a is:  {a}")
a *= 2
print(f"value of a is:  {a}")
a **= 2
print(f"value of a is:  {a}")
a %= 2
print(f"value of a is:  {a}")

# Comparison operators: ==, !=, >, <, >=, <= : they returns True or False based on the comparision
print("\nCOMPARISON OPERATORS:")
a = b = 20
print(f"a==b: \t{a==b}")
print(f"a!=b: \t{a!=b}")
print(f"a>=b: \t{a>=b}")
print(f"a<=b: \t{a<=b}")
print(f"a>b: \t{a>b}")
print(f"a<b: \t{a<b}")

# Logical operators : and, or, not : they also returns True or False
print("\nLOGICAL OPERATORS:")
print(a==30 and b==20)
print(a>=30 or b==20)
print(not(a<=20 and b==20))

# Identity operators : is, is not : they also returns True or False
print("\nIDENTITY OPERATORS:")
print(f"a is b: \t{a is b}")
print(f"a is not b: \t{a is not b}")


# Membership operators : in, not in : they also returns True or False
print("\nMEMBERSHIP OPERATORS:")
lst = [10, 20, 30, 40]
print(f"10 in {lst}: \t{10 in lst}")
print(f"10 not in {lst}: \t{10 not in lst}")

ARITHMETIC OPERATORS:
sum of 		10, 2 is 	12
difference of 	10, 2 is 	8
Product of 	10, 2 is 	20
division of 	10, 2 is 	5.0
modulus of 	10, 2 is 	0
power of 	10, 2 is 	100
floor div of 	10, 2 is 	5

ASSIGNMENT OPERATORS:
value of a is:  20
value of a is:  28
value of a is:  25
value of a is:  50
value of a is:  2500
value of a is:  0

COMPARISON OPERATORS:
a==b: 	True
a!=b: 	False
a>=b: 	True
a<=b: 	True
a>b: 	False
a<b: 	False

LOGICAL OPERATORS:
False
True
False

IDENTITY OPERATORS:
a is b: 	True
a is not b: 	False

MEMBERSHIP OPERATORS:
10 in [10, 20, 30, 40]: 	True
10 not in [10, 20, 30, 40]: 	False